@section bottom
{
<footer class="final">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="links">
                    <li>Danh Mục</li>
                    <li><a href="#"></i>Iphone</a></li>
                    <li><a href="#"></i>SamSung</a></li>
                    <li><a href="#"></i>Oppo</a></li>
                    <li><a href="#"></i>Xiaomi</a></li>
                    <li><a href="#"></i>realme</a></li>
                    <li><a href="#"></i>Asus</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="links">
                    <li>Chính Sách Bảo Hành</li>
                    <li><a href="#">Quy Định Chung</a></li>
                    <li><a href="#">Chính Sách Bảo Mật Thông Tin</a></li>
                    <li><a href="#">Chính Sách Vận Chuyển</a></li>
                    <li><a href="#">Chính Sách Đổi Trả Và Hoàn Tiền</a></li>
                    <li><a href="#">Chính Sách Trả Góp</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="links">
                    <li>Thông Tin PNP Shop</li>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Hỏi Đáp</a></li>
                    <li><a href="#">Diễn Đàn</a></li>
                    <li><a href="#">Tuyển Dụng</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="links">
                    <li>Cộng Đồng</li>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li>Liên Hệ</li>
                    <li class="phone"><a href="#"><i class=" fa fa-phone-square"></i> +84-941572957</a></li>
                    <li class="mail"><a href="#"><i class="fa fa-mail"></i> 0306201271@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="finish">
    <div class="container">
        <div class="row end">
            <div class="col-md-5">
                <h6>Công Ty Cổ Phần Tào Lao Bí Đao</h6>
                <p>
                    © 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ Tào Lao
                    Giấy chứng nhận đăng ký doanh nghiệp: 010210101 cấp lần đầu ngày 30 tháng 05 năm 2007
                </p>
            </div>
            <div class="col-md-4">
                <h6>Địa chỉ trụ sở chính:</h6>
                <p> Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh</p>
                <h6>Văn phòng điều hành miền Bắc:</h6>
                <p>Quận Đống Đa, Hà Nội</p>
                <h6>Văn phòng điều hành miền Nam:</h6>
                <p>Phường 6, Quận 3, TP. Hồ Chí Minh</p>
            </div>
            <div class="col-md-3">
                <img alt="bocongthuong" src="img/bo-cong-thuong.svg" />
            </div>
        </div>
    </div>
</footer>
}
<div class="chuyenanh">
    <div class="row silde-space">
        <div class="category">
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/iphone.png">
                        <span class="text">Iphone</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>
                <div class="iphone-1">
                    <div>
                        <div class="list">
                            <h5>iphone 14 series</h5>
                            <h6><a href="#">Iphone 14 Pro Max</a></h6>
                            <h6><a href="#">Iphone 14 Pro</a></h6>
                            <h6><a href="#">Iphone 14</a></h6>
                        </div>
                        <div class="list">
                            <h5>iphone 13 series</h5>
                            <h6><a href="#">Iphone 13 Pro Max</a></h6>
                            <h6><a href="#">Iphone 13 Pro</a></h6>
                            <h6><a href="#">Iphone 13</a></h6>
                        </div>
                    </div>

                    <div class="list">
                        <h5>iphone 12 series</h5>
                        <h6><a href="#">Iphone 12 Pro Max</a></h6>
                        <h6><a href="#">Iphone 12 Pro</a></h6>
                        <h6><a href="#">Iphone 12</a></h6>
                    </div>
                    <div class="list">
                        <h5>iphone 11 series</h5>
                        <h6><a href="#">Iphone 11 Pro Max</a></h6>
                        <h6><a href="#">Iphone 11 Pro</a></h6>
                        <h6><a href="#">Iphone 11</a></h6>
                    </div>
                    <div class="list">
                        <h5>iphone Xs series</h5>
                        <h6><a href="#">Iphone Xs Max</a></h6>
                        <h6><a href="#">Iphone Xs</a></h6>
                    </div>
                </div>
            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/samsung.png">
                        <span class="text">Sam Sung</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>
                <div class="iphone-2">
                    <div class="list">
                        <h5>SamSung Galaxy S series</h5>
                        <h6><a href="#">Samsung Galaxy S22 Ultra 5G</a></h6>
                        <h6><a href="#">Samsung Galaxy S22 Plus 5G</a></h6>
                        <h6><a href="#">Samsung Galaxy S22 5G</a></h6>
                    </div>
                    <div class="list">
                        <h5>SamSung Galaxy Z Fold series</h5>
                        <h6><a href="#">Samsung Galaxy Z Fold4 5G</a></h6>
                        <h6><a href="#">Samsung Galaxy Z Fold3 5G</a></h6>
                    </div>
                    <div class="list">
                        <h5>SamSung Z Flip Series</h5>
                        <h6><a href="#">Samsung Galaxy Z Flip4 5G</a></h6>
                        <h6><a href="#">Samsung Galaxy Z Flip3 5G</a></h6>
                    </div>
                </div>
            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/vivo.png">
                        <span class="text">Vivo</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>
                <div class="iphone-3">
                    <div class="list">
                        <h5>Vivo series</h5>
                        <h6><a href="#">Vivo X80 Pro 5G 256GB Chính Hãng</a></h6>
                        <h6><a href="#">Vivo Y22S 128GB Chính Hãng</a></h6>
                        <h6><a href="#">Vivo Y02s 32GB Chính Hãng</a></h6>
                    </div>
                </div>
            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/oppo.png">
                        <span class="text">Oppo</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>

            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/nokia.png">
                        <span class="text">Nokia</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>

            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/realme.png">
                        <span class="text">Realme</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>

            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/asus.png">
                        <span class="text">Asus</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>

            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/xiaomi.png">
                        <span class="text">Xiaomi</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>

            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/1plus.png">
                        <span class="text">OnePlus</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>
            </div>
            <div class="category-1">
                <a class="iphone" href="#">
                    <div class="case">
                        <img class="icon left" src="img/nubia.png">
                        <span class="text">Nubia</span>
                        <img class="icon right" src="img/next.png">
                    </div>
                </a>
            </div>

        </div>
        <div class="slide">
            <div class="dieuhuong">
                <i class="fa fa-chevron-circle-left" onclick="Back();"></i>
                <i class="fa fa-chevron-circle-right" onclick="Next();"></i>
            </div>
            <div class="chuyen-slide">
                <a href="dienthoai.html"><img src="img/1.jpg" alt="slide"></a>
                <a href="laptop.html"><img src="img/2.jpg" alt="slide"></a>
                <a href="dienthoai.html"><img src="img/3.jpg" alt="slide"></a>
                <a href="laptop.html"><img src="img/4.jpg" alt="slide"></a>
                <a href="dienthoai.html"><img src="img/5.jpg" alt="slide"></a>
            </div>
        </div>
        <div class="right1">
            <span class="right">
                <a href="#"><img src="img/iphone14.gif"></a>
            </span>
            <span class="right">
                <a href="#"><img src="img/realmeout.png"></a>
            </span>
            <span class="right">
                <a href="#"><img src="img/Fold3.png"></a>
            </span>
        </div>
    </div>
</div>
<div class="img-special">
    <a href="dienthoai.html"><img src="img/special.png" alt="slide"></a>
</div>
<div class="good">
    <span class="bentrai">
        Điện Thoại Nổi Bật Nhất
    </span>
    <span class="benphai">
        <a href="#"><span>Apple</span></a>
        <a href="#"><span>SamSung</span></a>
        <a href="#"><span>Xiaomi</span></a>
        <a href="#"><span>Oppo</span></a>
        <a href="#"><span>vivo</span></a>
        <a href="#"><span>xem tất cả</span></a>
    </span>
</div>
<div class="rowproduct">
    @{
        int sl = 0;
    }
    @foreach (var item in @ViewBag.ListIphone)
    {
        int i = 0;
        @foreach (var item2 in @ViewBag.CTDTList)
        {
            @foreach (var item3 in @ViewBag.Color)
            {

                if (@item.MaDT == @item2.Key.MaDT && @item3.MaDT == @item.MaDT && @item3.BoNhoTrong == @item2.Key.BoNhoTrong)
                {
                    <a asp-action="DienThoai"  asp-route-id="@item.MaDT" asp-route-rom="@item2.Key.BoNhoTrong" asp-route-color="@item3.MauSac">
                        <div class="clmainproduct">
                            <div class="image"><img src="@item.Img" alt="giasoc"></div>
                            <h5 class="title">@item.TenDT.Replace(".",@item2.Key.BoNhoTrong);</h5>
                            <div class="some-info">
                                <span>@item.Ram</span>
                                <span>@item2.Key.BoNhoTrong</span>
                            </div>
                            <div class="price">@item2.Key.GiaTienBan.ToString("#,##0") đ</div>
                        </div>
                    </a>
                    i = 1;
                    break;
                }
                           
                if (i == 1)
                    break;
            }
        }
         sl++;
        if (sl == 11)
            break;
    }
</div>
<div class="good">
    <span class="bentrai">
        Chuyên Trang Thương Hiệu Nổi Bật Nhất
    </span>
</div>
<div class="brand-outstanding">
    <a href="#"><img src="img/iphoneoustanding.jpg" alt="giasoc"></a>
    <a href="#"><img src="img/samsungoutstanding.jpg" alt="giasoc"></a>
    <a href="#"><img src="img/oppooutstanding.jpg" alt="giasoc"></a>
    <a href="#"><img src="img/xiaomioutstanding.jpg" alt="giasoc"></a>
</div>
<div class="good">
    <span class="bentrai">
        Iphone
    </span>
    <span class="benphai">
        <a href="#"><span>iphone 14 series</span></a>
        <a href="#"><span>iphone 13 series</span></a>
        <a href="#"><span>iphone 12 series</span></a>
        <a href="#"><span>iphone 11 series</span></a>
    </span>
</div>
<div class="img-special">
    <a href="dienthoai.html"><img src="img/special.png" alt="slide"></a>
</div>
<div class="good">
    <span class="bentrai">
        SamSung
    </span>
    <span class="benphai">
        <a href="#"><span>Zlip series</span></a>
        <a href="#"><span>ZFold series</span></a>
    </span>
</div>
<div class="good">
    <span class="bentrai">
        Chuyên Trang Thương Hiệu Nổi Bật Nhất
    </span>
</div>
<div class="brand-outstanding">
    <a href="#"><img src="img/iphoneoustanding.jpg" alt="giasoc"></a>
    <a href="#"><img src="img/samsungoutstanding.jpg" alt="giasoc"></a>
    <a href="#"><img src="img/oppooutstanding.jpg" alt="giasoc"></a>
    <a href="#"><img src="img/xiaomioutstanding.jpg" alt="giasoc"></a>
</div>
</div>